*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.lightpink{
    background-color: pink;
}

.lightgreen{
    background-color: green;
}

.lightblue{
    background-color: blue;
}

.black{
    background-color: black;
}

/* Header */

.header-container{
    /* border: 2px solid red; */
    height: 12vh;
    width: 100vw;
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.3rem;
    padding-left: 1rem;
}

.heading-container{
    width: 24%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    color: white;
    font-family: 'Montserrat Subrayada', sans-serif;
    margin: 0;
}

/* state selection */
.select-container{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.select{
    width: 25%;
    height: 2rem;
    cursor: pointer;
	border-radius: 5px;
    background-color: #ddd;
}

/* district selection */
.district-select{
    width: 25%;
    height: 2rem;
    cursor: pointer;
	border-radius: 5px;
    background-color: #ddd;
}

/* pincode */
.input-container{
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 45%;
    display: none;
}

#input-pin{
    height: 2rem;
    width: 45%;
    cursor: pointer;
	border-radius: 5px;
    background-color: #ddd;
}

/* date selection */
.date-container{
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 35%;
}

#start{
    height: 2rem;
    width: 57%;
    cursor: pointer;
	border-radius: 5px;
    background-color: #ddd;
}

label {
    display: block;
    color: white;
    font: 1rem 'Fira Sans', sans-serif;
    width: 33%;
}

.age-container{
    height: 70%;
    width: 9%;
    background-color: rgb(89, 87, 87);
    border-radius: 0.3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.age-container:hover{
    background-color: rgb(62, 61, 61);
}

.age_cat{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    margin: 0;
}

.main-container{
    /* border: 2px solid green; */
    min-height: 88vh;
    background-color: rgb(238, 238, 238);
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3vw;
}

/* h1 */
.notice{
    font-family: sans-serif;
}

/* modal container */
.modal-container{
    height: 35vh;
    width: 40vw;
    top: calc((100vh - 35vh)/2 + 6vh);
    left: calc((100vw - 40vw)/2);
    position: absolute;
    /* background-color: black; */
    /* border: 2px solid red; */
    display: none;
    border-radius: 0.8rem;
    box-shadow: 0px 12px 9px 4px rgba(0, 0, 0, .3);
}

.modal-filter__conatiner{
    height: 100%;
    width: 100%;
    background-color: rgb(62, 62, 62);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 0.8rem;
}

.modal-filters{
    width: 24%;
    height: 17%;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.age_desc{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 0;
}

.capacity-filters{
    width: 30%;
    height: 17%;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cap_desc{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 0;
}

.pin-dist_container{
    width: 40%;
    height: 17%;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pin-dist{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 0;
}

.border{
    border: 3px solid white;
}

.active{
    background-color: rgb(62, 61, 61);
}

/* info container */
.info-container{
    height: 15vh;
    width: 22vw;
    top: 20vh;
    left: 37vw;
    position: absolute;
    border-radius: 0.8rem;
    box-shadow: 0px 12px 9px 4px rgba(0, 0, 0, .3);
    background-color: rgb(62, 62, 62);
    display: none;
    justify-content: center;
    align-items: center;
}

.z-dose{
    color: white;
    font-family: sans-serif;
}

/* Ticket Container */

.ticket-container{
    height: 19rem;    
    width:20rem;
    background-color:white;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    box-shadow: 0px 12px 7px 3px rgba(0, 0, 0, .2);
}

.ticket-color{
    height: 6%;
    width: 100%;
    /* background-color: black; */
}

.ticket_sub-container{
    height: 94%;
    width: 100%;
    padding-left:1rem;
    font-family: sans-serif;
    overflow-y: auto;
}

.ticket-id{
    color:lightslategray;
}

@media only screen and (max-width: 1360px) {
    .title{
        font-size: 1.7rem;
    }

    label{
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 1145px) {
    .title{
        font-size: 1.5rem;
    }

    label{
        font-size: 0.8rem;
    }

    .date-container{
        width: 35%;
    }

    .age_cat{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 970px) {
   .header-container{
       flex-direction: column;
       justify-content: space-around;
       height: 25vh;
   }

   .heading-container{
       height: 2.5rem;
       width: 100%;
   }

   .title{
       font-size: 2rem;
   }

   .select-container{
       height: 3rem;
       width: 100%;
       padding-left: 2rem;
       padding-right: 2rem;
   }

   .select{
       width: 25%;
   }

   .district-select{
       width: 25%;
   }

   .date-container{
       width: 35%;
   }

    label{
        font-size: 0.9rem;
    }

    .main-container{
       min-height: 75vh;
   }

   .age-container{
       height: 3rem;
       width: 100%;
   }

   .cap_desc{
       font-size: 1rem;
   }

    .info-container{
        top: 31vh;
        width: 30vw;
        left: 34vw;
    }

    .modal-container{
        top: 50vh;
    }
}

@media only screen and (max-width: 671px) {
    .header-container{
        height: 35vh;
    }

    .main-container{
        min-height: 65vh;
    }
    
    .select-container{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 10rem;
    }

    .select{
        width: 70%;
    }

    .district-select{
        width: 70%;
    }

    .date-container{
        width: 70%;
        padding-left: 0;
    }

    .input-container{
        width: 70%;
        padding-left: 0;
    }

    #input-pin{
        width: 70%;
    }

    #start{
        width: 70%;
    }

    label{
        font-size: 1rem;
    }

    .age-container{
        height: 2rem;
    }
}

@media only screen and (max-width: 430px) {
    .modal-container{
        width: 80vw;
        left: calc((100vw - 80vw)/2);
    }

    .title{
       font-size: 1.8rem;
   }

   .info-container{
        top: 36vh;
        width: 47vw;
        left: 28vw;
    }

    .z-dose{
        font-size: 1.4rem;
    }

    .modal-container{
        top: 52vh;
    }

    .capacity-filters{
        width: 29%;
    }
}